h1 {color: rgb(15,0,128);}
body {background-color: orange;}
header {background-color: lightblue;
text-align: center;}
nav {display: flex; justify-content: center; gap: 10px; padding-bottom: 5px;}
#index_title {font-family: 'Montserrat', sans-serif;}

footer {background-color: lightblue;
text-align: center;}